<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<ul class="users1">

  <% for(var i=0; i<users1.length; i++) {%>
   <li>
      <span><%= users1[i].username %></span>
    </li>
  <% } %>
    
  </ul>
</body>
</html>